$bg-white: #fff;
$primary-color: #1089ff;
$text-gray: #7f7f7f;
$text-white: #fff;
$bg-black: #1c1c1c;
$text-blue: #29a9fd;
$para-color: #c6c6c6;
$text-pink: #c850c0;
$text-black: #000;
$background: rgba(255, 255, 255, 0.1);
$blur: blur(5px);
$radius: 1rem;