@import "./vendor";
@import "./variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  //  outline: 2px solid lime;
}
* {
  margin: 0;
  font-family: "Urbanist", serif;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template-columns: auto 0;
}
input,
button,
textarea,
select,
span,
sub {
  font: inherit;
}
a {
  font-size: 1.1rem !important;
  letter-spacing: 0.05rem;
  word-spacing: 0.1rem;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 0 0.5rem;
}
p,
h1,
h2,
h3,
h4,
h5 {
  overflow-wrap: break-word;
  font-family: "Lexend Deca", serif;
}

::-webkit-scrollbar {
  width: 0.9rem;
}
::-webkit-scrollbar-track {
  background-color: $bg-white;
}
::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  border-radius: 1rem;
  border: 0.2rem solid transparent;
  background-clip: content-box;
}
.text-gray {
  color: $text-gray;
}
.padding {
  padding: 7rem 2rem;
}
.link {
  font-size: 1.2rem;
  color: $text-white;
  background-color: $primary-color;
  padding: 0.4rem 3rem;
}
.navbar {
  background-color: $bg-black;
  position: sticky;
  top: 0;
  z-index: 1000;
  .container .navbar-brand span {
    color: $text-blue;
    font-size: 1.6rem;
  }

  .container .navbar-toggler:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }
  .nav-link,
  .navbar-brand {
    color: $text-white !important;
  }
  .nav-link:hover {
    color: $text-blue !important;
  }
}
.heroSection {
  position: relative;
  background-color: $bg-black;

  & h1 {
    font-size: 3.4rem;
  }
  & h1::first-letter {
    color: $text-blue;
    initial-letter: 2;
    padding-right: 0.4rem;
  }
  & p {
    line-height: 1.5rem;
    font-size: 1rem;
    letter-spacing: 0.07rem;
    color: $para-color !important;
  }
  video {
    width: 30rem;
    border-radius: 1rem !important;
  }
  .order-0 {
    order: 0 !important;
  }
  .order-1 {
    order: 1 !important;
  }
}
.custom-shape-divider-bottom-1749627964 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1749627964 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1749627964 .shape-fill {
  fill: #ffffff;
}
.service-section {
  .card {
    padding: 3rem 0;
    border-radius: 1rem;
  }
  .card h5 {
    font-size: 1.3rem;
  }
  .card p {
    font-size: 1rem;
    font-weight: 300;
  }
  .card-odd {
    transform: 0.2s linear;
  }
  .card-odd:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px !important;
  }
}
.cmn-heading {
  line-height: 1.4;
  letter-spacing: 0.01rem;
  text-transform: capitalize;
}

.steps-section {
  background-image: linear-gradient(
      rgba(22, 22, 22, 0.9),
      rgba(22, 22, 22, 0.9)
    ),
    url("https://images.pexels.com/photos/316093/pexels-photo-316093.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  h1 {
    font-size: 2.6rem;
  }
  p {
    font-weight: 200;
    letter-spacing: 0.01rem;
  }
}
.online-section {
  h5 {
    font-size: 1.2rem;
  }
  p {
    font-size: 1rem;
    text-align: justify;
    padding-top: 0.5rem;
    padding-right: 1.8rem;
  }
  .mini-padding {
    padding: 0 1.5rem !important;
  }
  video {
    max-width: 33%;
  }
}
.testimonial-section {
  overflow: hidden;
  background-color: $bg-black;

  .card h5 {
    font-size: 1.3rem;
  }
  .card p {
    font-size: 1rem;
    padding: 0 1rem;
  }
  .card img {
    border-radius: 0.3rem !important;
  }
  .mySwiper {
    width: 100%;
    max-width: 100vw;
  }
  .star {
    font-size: 1.7rem;
    color: $text-pink;
    margin-top: 2rem;
  }

  .cmn-heading {
    line-height: 1;
    padding-top: 0.8rem;
  }
  .card {
    transition: 0.5s ease-in-out;
  }
  .card:hover {
    background-color: $bg-white !important;
    color: $text-black !important;
  }
}
.tips-section {
  .card p {
    line-height: 1.8;
  }
  video {
    max-width: 100%;
    padding-top: 2rem;
  }
}
.contact-section {
  position: relative;
  background-color: $bg-black;

  .custom-shape-divider-top-1749722384 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-top-1749722384 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
  }

  .custom-shape-divider-top-1749722384 .shape-fill {
    fill: #ffffff;
  }
}
footer {
  background-color: $bg-black;
}
@media (max-width: 768px) {
  .heroSection {
    .center {
      align-items: center !important;
    }
  }
}
@media (min-width: 900px) {
  .heroSection {
    height: 80vh;
    .order-0 {
      order: 1 !important;
    }
    .order-1 {
      order: 0 !important;
    }
  }
}
@media (max-width: 426px) {
  .btn {
    font-size: 1rem !important;
    padding: 0.5rem 1.4rem !important;
  }
  .top-btn {
    font-size: 0.7rem !important;
  }
  .padding {
    padding: 3rem 1.5rem;
  }
  .heroSection {
    min-height: 100vh;
    h1 {
      font-size: 1.8rem;
    }
    p {
      font-size: 0.9rem;
      letter-spacing: normal;
      line-height: normal;
      margin-top: 1rem;
    }
    video {
      width: 18rem;
    }
  }
  .steps-section {
    h1 {
      font-size: 1.9rem;
    }
  }
  .online-section {
    .col {
      padding: 0 1rem;
    }
    p {
      font-size: 0.9rem;
    }
  }
  .testimonial-section {
    .mySwiper {
      width: 100%;
      max-width: 76vw;
    }
    .card {
      width: 70vw !important;
    }
  }
}
.top-btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: $text-blue;
  padding: 0.6rem 0.7rem;
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 999;

  .arrow {
    animation: updown 1s infinite linear alternate-reverse;
  }
}
@keyframes updown {
  0% {
    transform: translateY(-0.3rem);
  }
  100% {
    transform: translateY(0);
  }
}
